NET "A_0" 					LOC = "P4"; 
NET "A<1>"	 				LOC = "P135"; 
NET "A<2>"	 				LOC = "P12"; 
NET "A<3>"	 				LOC = "P6"; 
NET "A<4>"	 				LOC = "P5"; 
NET "A<5>"	 				LOC = "P2"; 
NET "A<6>"	 				LOC = "P140"; 
NET "A<7>"	 				LOC = "P3"; 
NET "A<8>"	 				LOC = "P11"; 
NET "A<9>"	 				LOC = "P13"; 
NET "A<10>"					LOC = "P16"; 
NET "A<11>"					LOC = "P43"; 
NET "A<12>"	 				LOC = "P41"; 
NET "A<13>"	 				LOC = "P139"; 
NET "A<14>"	 				LOC = "P45"; 
NET "A<15>"	 				LOC = "P138"; 
NET "A<16>"	 				LOC = "P10"; 
NET "A<17>"	 				LOC = "P137"; 
NET "A<18>"	 				LOC = "P48"; 
NET "A<19>"	 				LOC = "P14"; 
NET "A<20>"	 				LOC = "P136"; 
NET "A<21>"	 				LOC = "P9"; 
NET "A<22>"	 				LOC = "P17"; 
NET "A<23>"	 				LOC = "P21"; 
NET "ARAM<0>"				LOC = "P96"; 
NET "ARAM<1>"				LOC = "P98"; 
NET "ARAM<2>"				LOC = "P101"; 
NET "ARAM<3>"				LOC = "P103"; 
NET "ARAM<4>"				LOC = "P102"; 
NET "ARAM<5>"				LOC = "P100"; 
NET "ARAM<6>"				LOC = "P97"; 
NET "ARAM<7>"				LOC = "P95"; 
NET "ARAM<8>"				LOC = "P93"; 
NET "ARAM<9>"				LOC = "P91"; 
NET "ARAM<10>"			LOC = "P94"; 
NET "ARAM<11>"			LOC = "P87"; 
NET "ARAM<12>"			LOC = "P86"; 
NET "BA<0>"					LOC = "P88"; 
NET "BA<1>"					LOC = "P92"; 
NET "CAS" 					LOC = "P82"; 
NET "CLK_EN"				LOC = "P83"; 
NET "CLK_RAM"				LOC = "P81"; 
NET "LDQ0" 					LOC = "P79"; 
NET "LDQ1" 					LOC = "P78"; 
NET "UDQ0" 					LOC = "P77"; 
NET "UDQ1" 					LOC = "P76";
NET "LE_020_RAM"		LOC = "P70"; 
NET "LE_RAM_020"		LOC = "P75"; 
NET "MEM_WE" 				LOC = "P80"; 
NET "OE_020_RAM"		LOC = "P71"; 
NET "OE_RAM_020"		LOC = "P74"; 
NET "RAS"						LOC = "P85"; 
NET "D<28>"					LOC = "P64"; 
NET "D<29>"					LOC = "P66"; 
NET "D<30>"					LOC = "P68"; 
NET "D<31>"					LOC = "P69"; 
NET "IDE_A<0>"			LOC = "P131"; 
NET "IDE_A<1>"			LOC = "P129"; 
NET "IDE_A<2>"			LOC = "P130"; 
NET "IDE_CS<0>"			LOC = "P133"; 
NET "IDE_CS<1>"			LOC = "P132"; 
NET "IDE_R"					LOC = "P124"; 
NET "IDE_RESET"			LOC = "P126"; 
NET "IDE_W"					LOC = "P128"; 
NET "IDE_WAIT" 			LOC = "P125"; 
NET "ROM_B<0>"			LOC = "P121"; 
NET "ROM_B<1>"			LOC = "P120"; 
NET "ROM_EN" 				LOC = "P118"; 
NET "ROM_OE" 				LOC = "P117"; 
NET "ROM_WE" 				LOC = "P119"; 
NET "RW_020" 				LOC = "P40"; 
NET "S<0>"					LOC = "P104"; 
NET "S<1>"					LOC = "P105"; 
NET "SIZE<0>"				LOC = "P20"; 
NET "SIZE<1>"				LOC = "P24"; 
NET "AS_020" 				LOC = "P35"; 
NET "DS_020" 				LOC = "P39"; 
NET "DSACK<0>"			LOC = "P28"; 
NET "DSACK<1>"			LOC = "P31"; 
NET "AS_000" 				LOC = "P58"; 
NET "RW_000" 				LOC = "P54"; 
NET "UDS_000" 			LOC = "P57"; 
NET "LDS_000" 			LOC = "P56"; 
NET "BG_020"				LOC = "P142"; 
NET "BG_000"				LOC = "P52"; 
NET "BGACK_000"			LOC = "P51"; 
NET "BR_020"				LOC = "P134"; 
NET "BR_000"				LOC = "P50"; 
NET "CLK_020" 			LOC = "P7"; 
NET "CLK_000" 			LOC = "P30"; 
NET "CLK_OSZI"			LOC = "P32"; 
NET "CLK_PLL_REF"		LOC = "P106"; 
NET "CLK_PLL" 			LOC = "P38"; 
NET "IPL_020<0>"		LOC = "P23"; 
NET "IPL_020<1>"		LOC = "P22"; 
NET "IPL_020<2>"		LOC = "P19"; 
NET "IPL_000<0>"		LOC = "P27"; 
NET "IPL_000<1>"		LOC = "P33"; 
NET "IPL_000<2>"		LOC = "P34"; 
NET "CDIS"					LOC = "P25"; 
NET "DTACK" 				LOC = "P53"; 
NET "AVEC" 					LOC = "P26"; 
NET "E" 						LOC = "P46"; 
NET "VMA" 					LOC = "P49"; 
NET "VPA" 					LOC = "P44"; 
NET "RW_020"				LOC = "P40"; 
NET "RESET"					LOC = "P143"; 
NET "MEM_CFG1"			LOC = "P115"; 
NET "MEM_CFG2"			LOC = "P113"; 
NET "AUTO_BOOT"			LOC = "P116"; 
NET "FC<0>"			LOC = "P112"; 
NET "FC<1>"			LOC = "P111"; 
NET "BERR"			LOC = "P107"; 
NET "AMIGA_BUS_DATA_DIR"		LOC = "P61"; 
NET "AMIGA_BUS_ENABLE_LOW"	LOC = "P60"; 
NET "AMIGA_BUS_ENABLE_HIGH"	LOC = "P59"; 
